<section class="eleven columns">
    <h1>About</h1>
    <article>
        <p style="text-align:justify;">
        Hi, I am Euxhen. I hold a Master's degree in <a href="https://www.ml.cmu.edu/" class="mylink">Machine Learning</a> from <a href="https://www.cmu.edu/" class="mylink">Carnegie Mellon University</a> and a BA in Computer Science and Mathematics from <a href="https://www.aubg.edu/" class="mylink">American University in Bulgaria</a>. I am passionate about <a href="paintings.html" class="mylink">painting</a> and mathematics. My current research involves applying Machine Learning and statistical methods to genomics. I am starting as a PhD student in Machine Learning at Carnegie Mellon University in the Fall 2021.
        </p>
    </article>
</section>
