<section class="eleven columns">
    <h1>About</h1>
    <article>
        <p style="text-align:justify;">
        Hi, I am Euxhen, a Master's student in <a href="https://www.ml.cmu.edu/" class="mylink">Machine Learning</a> at <a href="https://www.cmu.edu/" class="mylink">Carnegie Mellon University</a> in Pittsburgh, PA. I hold a BA in Computer Science and Mathematics from <a href="https://www.aubg.edu/" class="mylink">American University in Bulgaria</a> where I graduated with honors in both. I have a strong passion for <a href="paintings.html" class="mylink">painting</a> and Category Theory. My current research involves applying Machine Learning and statistical methods to genomic data.
        </p>
    </article>
</section>
