<section class="thirteen columns">
    <h1>Awards</h1>
    <article>
        <header>
            <h1>International Mathematics Competition for College Students (IMC)</h1> 
            <span><address>Organized by University College London, Held in Bulgaria</address><time>August 2019</time></span>
        </header>
        <p>Silver Medal</p>
    </article>
    <article>
        <header>
            <h1>Computational Mathematics Competition</h1> 
            <span><address>Bulgaria</address><time>October 2018</time></span>
        </header>
        <p>Silver Medal</p>
    </article>
    <article>
        <header>
            <h1>ACM, Southeastern Europe Regional Contest</h1> 
            <span><address>Romania</address><time>October 2017</time></span>
        </header>
        <p>Bronze Medal (team)</p>
    </article>
    <article>
        <header>
            <h1>National Programming Competition</h1> 
            <span><address>Bulgaria</address><time>May 2017</time></span>
        </header>
        <p>2nd place (team)</p>
    </article>
            <details>
                <summary>Older</summary>
                <ul class="list">
                    <li class="courses">International Mathematics Competition for College Students (IMC), Bulgaria, 2018, Honorable Mention</li>
                    <li class="courses">ACM, Southeastern Europe Regional Contest, Romania, October 2016, Honorable Mention</li>
                    <li class="courses">National Programming Competition, Bulgaria, 2016, 2nd place</li>
                    <li class="courses">International Mathematics Competition (IMO), Thailand, 2015, Honorable Mention</li>
                    <li class="courses">National Mathematics Olympiad, Albania, 2015, 2nd place</li>
                    <li class="courses">National Chemistry Olympiad, Albania, 2015, 3rd place</li>
                    <li class="courses">Regional Programming Olympiad, Albania, 2015, 1st place</li>
                    <li class="courses">Regional Mathematics Olympiad, Albania, 2015, 2nd place</li>
                    <li class="courses">Regional Chemistry Olympiad, Albania, 2015, 3rd place</li>
                    <li class="courses">National Mathematics Olympiad, Albania, 2013, 1st place</li>
                </ul>
            </details>
</section>
