<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MS in Machine Learning</h1>
            <span>Carnegie Mellon University</span>
            <span><address>Pittsburgh, PA, USA</address><time>2019 to Present</time></span>
        </header>
        <p>
            <em>Research: Clustering and visualization methods for single cell data in genomics.</em>
            <details>
                <summary>More</summary>
                <em class="list_header">Courses:</em>
                <ul class="list">
                    <li class="courses">10-715: Advanced Introduction to Machine Learning</li>
                    <li class="courses">10-718: Data Analysis</li>
                    <li class="courses">36-705: Intermediate Statistics</li>
                    <li class="courses">10-716: Advanced Machine Learning Theory</li>
                    <li class="courses">10-707: Advanced Deep Learning</li>
                    <li class="courses">10-725: Convex Optimization</li>
                    <li class="courses">10-708: Probabilistic Graphical Models</li>
                    <li class="courses">10-620: Independent Study: Research</li>
                </ul>
                <em class="list_header">GPA:</em>&nbsp&nbsp 4.06
            </details>
        </p>
    </article>
    <article>
        <header>
            <h1>BA in Computer Science, Mathematics</h1>
            <span>American University in Bulgaria</span>
            <span><address>Blagoevgrad, Bulgaria</address><time>2015 to 2019</time></span>
        </header>
        <p>
            <em>Senior Project (Computer Science): Detecting Pneumonia in Medical Images.</em></br>
            <em>Senior Project (Mathematics): On Category Theory and Machine Learning.</em>
            <details>
                <summary>More</summary>
                <em class="list_header">Awards:</em>
                <ul class="list">
                    <li class="courses">Salutatorian of the Class of 2019</li>
                    <li class="courses">Summa Cum Laude</li>
                    <li class="courses">Outstanding Achievement in Computer Science</li>
                    <li class="courses">Outstanding Achievement in Mathematics</li>
                </ul>
                <em class="list_header">Teaching Assistant:</em>
                <ul class="list">
                    <li class="courses">Abstract Algebra</li>
                    <li class="courses">Mathematical Statistics</li>
                    <li class="courses">Calculus I</li>
                    <li class="courses">Linear Algebra</li>
                    <li class="courses">Writing</li>
                </ul>
                <em class="list_header">CGPA:</em>&nbsp&nbsp 3.99/4.00</br>
                <em class="list_header">Founder/President of the Mathematics Club</em>

            </details>
        </p>
    </article>
    <article>
        <header>
            <h1>Study Abroad, ISEP</h1>
            <span>University of Iowa</span>
            <span><address>Iowa City, IA, USA</address><time>Spring 2018</time></span>
        </header>
        <p>
            <details>
                <summary>More</summary>
                <em class="list_header">Courses:</em>
                <ul class="list">
                    <li class="courses">Algorithms</li>
                    <li class="courses">Operating Systems</li>
                    <li class="courses">Matrix Theory</li>
                    <li class="courses">Numerical Analysis</li>
            </details>
        </p>
    </article>
</section>
