<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Machine Learning Engineer</h1>
            <span>Centroida</span>
            <span><address>Sofia, Bulgaria</address><time>2017 to 2018</time></span>
        </header>
        <p>Worked on face identification for surveillance cameras.</br>Developed a face tracking algorithm that works well on low FPS input.</br>Implemented an image scaling plugin for NVIDIA TensorRT.</p>
    </article>
</section>
