<section class="eleven columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Research Assistant, Systems Biology Group</h1>
            <span>Carnegie Mellon University</span>
            <span><address>Pittsburgh, PA</address><time>May 2020 - August 2020</time></span>
        </header>
        <p>Developing a platform for clustering and visualization of single cell data.
        </br>Built a pipeline that does preprocessing, clustering, differential expression, and more.
        </br>Introduced semi-supervised clustering in addition to existing clustering methods.
        </br>Built a user-friendly UI for running the analysis.</p>
    </article>
    <article>
        <header>
            <h1>Machine Learning Engineer</h1>
            <span>Centroida</span>
            <span><address>Sofia, Bulgaria</address><time>2017 to 2018</time></span>
        </header>
        <p>Worked on face identification for surveillance cameras.
        </br>Developed a face tracking algorithm that works well on low FPS input.
        </br>Implemented an image scaling plugin for NVIDIA TensorRT.</p>
    </article>
</section>
