<section class="eleven columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Machine Learning Engineer</h1>
            <span>Ritech Solutions</span>
            <span><address>Tirane, Albania</address><time>Jan 2021 - Present</time></span>
        </header>
        <p>Investigating deep learning methods for real-time evaluation of shipping containers loading and unloading process.
        </br>Developed models for loading phase recognition, monocular depth estimation, human identification, start/end time estimation, progress evaluation and more.</p>
    </article>
    <article>
        <header>
            <h1>Graduate Research Assistant</h1>
            <span>Systems Biology Group, Carnegie Mellon University</span>
            <span><address>Pittsburgh, PA</address><time>Dec 2019 - Feb 2021</time></span>
        </header>
        <p>Investigating unsupervized learning algorithms for clustering and visualization of high dimensional omics data, as part of the Human BioMolecular Atlas Program (HuBMAP).
        </br>Exploring new algorithms for multi-omics data integration and multi-view clustering.
    </article>
    <article>
        <header>
            <h1>Machine Learning Engineer</h1>
            <span>Centroida</span>
            <span><address>Sofia, Bulgaria</address><time>Nov 2017 - Aug 2018</time></span>
        </header>
        <p>Investigated deep learning methods for real-time face detection for surveillance cameras.
        </br>Developed high-performance face tracking algorithms.</p>
    </article>
</section>
