<section class="eleven columns">
    <h1>Publications</h1>
    <article>
        <header>
        <h1>Cellar: Interactive single cell data annotation tool</h1>
        <span>Euxhen Hasanaj*, Jingtao Wang, Arjun Sarathi, Jun Ding, Ziv Bar-Joseph</span>
        </header>
        <p style="text-align:justify;">
        Single-cell transcriptomics coupled with recent technological developments in high-throughput sequencing technologies have greatly expanded our knowledge of complex tissues and their cellular composition. As the number of samples increases, there is a growing need to correctly and automatically identify cell types by examining the gene expression profiles of individual cells. Cellar is an attempt to combine different methods and processing pipelines into a easy-to-use interface that allows the user to interact with the data and facilitate the process of cell type annotation.
        <br><br>Cellar is hosted at <a href="https://data.test.hubmapconsortium.org/app/cellar" class="mylink">https://data.test.hubmapconsortium.org/app/cellar</a>.
        <br>bioRxiv [<a href="https://www.biorxiv.org/content/10.1101/2021.03.19.436162v1?rss=1" class="mylink">bioRxiv</a>].
        </p>
    </article>
</section>
