<section class="eleven columns">
    <h1>Publications</h1>
    <article>
        <header>
        <h1>Cellar: Interactive single cell data annotation tool</h1>
        <span>Euxhen Hasanaj*, Jingtao Wang, Arjun Sarathi, Jun Ding, Ziv Bar-Joseph</span>
        </header>
        <p style="text-align:justify;">
        Several recent technologies and platforms enable the profiling of various molecular signals at the single-cell level. A key question for all studies using such data is the assignment of cell types. To improve the ability to correctly assign cell types in single and multi-omics sequencing and imaging single-cell studies, we developed Cellar. This interactive software tool supports all steps in the analysis and assignment process. We demonstrate the advantages of Cellar by using it to annotate several HuBMAP datasets from multi-omics single-cell sequencing and spatial proteomics studies. Cellar is freely available and includes several annotated reference HuBMAP datasets.
        <br><br>Cellar is hosted at <a href="https://data.test.hubmapconsortium.org/app/cellar" class="mylink">https://data.test.hubmapconsortium.org/app/cellar</a>.
        <br>bioRxiv [<a href="https://www.biorxiv.org/content/10.1101/2021.03.19.436162v1?rss=1" class="mylink">bioRxiv</a>].
        </p>
    </article>
</section>
