<section class="thirteen columns">
    <h1>Software Skills</h1>
    <article>
        <header>
            <h1>Software engineering</h1>
        </header>
        <p>
        <!--<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>-->
        Proficient: &nbsp;&nbsp;<em>C++, Python, R</em></br>
        Familiar: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>C#, Java, Haskell, SQL</em>
        <header>
            <h1>Data Science</h1>
        </header>
        <p>
        <em>Scikit-Learn, NumPy, PyTorch, TensorFlow, Keras, Pandas, SciPy, Matplotlib, Plotly, Dash, MLflow, R Shiny</em></br>
        <header>
            <h1>Tools</h1>
        </header>
        <p>
        <em>Latex, Git, Matlab, Docker</em></br>
    </article>
</section>
